@import '~@angular/material/theming';

$theme: () !default;

$color-config: mat-get-color-config($theme);
$primary-palette: map-get($color-config, primary);
$background-config: map-get($color-config, background);

//$mat-list-padding-horizontal: 16px;

$mat-icon-size-sm: 24px;
$mat-icon-size-md: 32px;
$mat-icon-size-lg: 64px;
$mat-icon-size-xl: 96px;

// Wrap in selector to ensure higher specificity for overrides
body {
  .mat-icon {
    &.sm {
      height: $mat-icon-size-sm !important;
      width: $mat-icon-size-sm !important;;
    }

    &.md {
      height: $mat-icon-size-md !important;;
      width: $mat-icon-size-md !important;;
    }

    &.lg {
      height: $mat-icon-size-lg !important;;
      width: $mat-icon-size-lg !important;;
    }

    &.xl {
      height: $mat-icon-size-xl !important;;
      width: $mat-icon-size-xl !important;;
    }

    & > svg {
      // Fix extra white space caused by display inline by default for svg elements
      display: block;
    }
  }

  a, a:visited, a:link {
    color: mat-color($primary-palette, main);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: mat-color($primary-palette, lighter);
    }

    .theme-alternate & {
      color: mat-color($primary-palette, lighter);

      &:active {
        color: mat-color($primary-palette, darker);
      }
    }
  }

  // Handle buttons appropriately, with respect to line-height
  .mat-raised-button, .mat-stroked-button, .mat-flat-button {
    padding: 0 1.15em;
    margin: 0 .65em;
    min-width: 3em;
    line-height: 36.4px
  }

  .mat-standard-chip {
    padding: .5em .85em;
    min-height: 2.5em;
  }

  .material-icons {
    font-size: 24px;
    font-family: 'Material Icons', 'Material Icons';

    .mat-badge-content {
      font-family: 'Roboto';
    }
  }
}
